nav{
  background-color: rgba(92, 241, 51, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%
}

.homepage{
  height: 700px
}

.individual-player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgba(252, 236, 196, 0.3);
  margin: 10px
}

.individual-player:hover {
  background: rgba(252, 236, 196, 0.6);
}

.stat-container{
  display: grid;
  grid-template-columns: 50% 50%;
}

h1{
  color: white
}

.raw-data-container{
  background-color: rgba(252, 236, 196, 0.3);
  margin-left: 20%;
  margin-right: 20%;
}

.delete-button{
  background-color: red;
  color: white;
}

.edit-button{
  grid-column: 2;
  width: 10%;
  margin: auto
}

.stat{
  grid-column: 1;
}

.search-bar{
  width: 40%;
  height: 30px
}

.search-submit{
  height: 30px
}

.home-button{
  background-color: rgba(92, 241, 51, 0.6);
  color: white;
  border: none;
  padding: 20px;
  margin: 20px;
}

.home-button:hover{
  background-color: rgba(92, 241, 51, 1)
}
